
@{
    ViewData["Title"] = "GetEmployeeRecord";
}

<h2>GetEmployeeRecord</h2>

<div class="alert alert-primary" role="alert">
    Please Enter your Employee Number to proceed with the Registration
</div>

<form asp-controller="Employees" asp-action="GetEmployeeRecord" method="post">
    <div class="form-group">
        <label> Employee Number :</label>
        <input type="text" name="empNumber" value="" class="form-control" placeholder="Enter your employee number"/>
        <span></span>
        <br />
        <input type="submit" name="name" value="Get Records" class="btn btn-primary" />
    </div>
</form>