
@{
    ViewData["Title"] = "UploadEmployees";
}

<h2>UploadEmployees</h2>

@using (Html.BeginForm("UploadEmployeeRecords", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span> <input type="file" name="excelfile" />
    <br />
    <input type="submit" value="Upload" class="btn btn-primary" />
}